<%= form_for(@time_entry) do |f| %>
  <% if @time_entry.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@time_entry.errors.count, "error") %> prohibited this time_entry from being saved:</h2>

      <ul>
      <% @time_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
    <div class="clients" id="clients">
    <% @clients.each do |client| %>
          <b><%= client.name %></b>
          <ul style="list-style-type:none">
          <% all_projects(client.id).each do |project| %>
              <li><input id="time_entry[project]" type="checkbox" name=<%= project.name %> value=<%= project.id %> > <%= project.name %><br></li>
                <% end %>
          </ul>
      <% end %>

    </div>

  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>



    <div class="field">
      <%= f.label :hours %><br>
      <%= f.text_field :hours %>
    </div>

    <div class="field">
      <%= f.label :mins %><br>
      <%= f.text_field :mins %>
    </div>

    <div class="field">
      <%= f.label :sec %><br>
      <%= f.text_field :sec %>
    </div>

    <div class="field">
      <%= f.label :divide_by %><br>
      <%= f.text_field :divide_by %>
    </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


