<p id="notice"><%= notice %></p>

<h1>Listing Time Entries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Date</th>
      <th>Comment</th>
      <th>Tag</th>
      <th>Hours</th>
      <th>Mins</th>
      <th>Sec</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_entries.each do |time_entry| %>
      <tr>
        <td><%= time_entry.name %></td>
        <td><%= time_entry.time %></td>
        <td><%= time_entry.date %></td>
        <td><%= time_entry.comment %></td>
        <td><%= time_entry.tag %></td>
        <td><%= time_entry.hours %></td>
        <td><%= time_entry.mins %></td>
        <td><%= time_entry.sec %></td>
        <td><%= time_entry.projects %></td>
        <td><%= link_to 'Show', time_entry %></td>
        <td><%= link_to 'Edit', edit_time_entry_path(time_entry) %></td>
        <td><%= link_to 'Destroy', time_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time entry', new_time_entry_path %>
