<h1>New Time Entry</h1>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<%= render 'form' %>

<div id="time">0</div>
<button id="startBtn">start</button>
<button id="stopBtn">stop</button>

<div id="result" value=0>Result</div>


<%= link_to 'New Client', new_client_path %>
<%= link_to 'New Project', new_project_path %>
<%= link_to 'Back', time_entries_path %>
