<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @time_entry.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @time_entry.time %>
</p>

<p>
  <strong>Date:</strong>
  <%= @time_entry.date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @time_entry.comment %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @time_entry.tag %>
</p>

<p>
  <strong>Time dec:</strong>
  <%= @time_entry.time_dec %>
</p>

<%= link_to 'Edit', edit_time_entry_path(@time_entry) %> |
<%= link_to 'Back', time_entries_path %>
