<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @time_entry.name %>
</p>

<p>
  <strong>ID:</strong>
  <%= @time_entry.id %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @time_entry.hours %>
</p>

<p>
  <strong>Mins:</strong>
  <%= @time_entry.mins %>
</p>

<p>
  <strong>Seconds:</strong>
  <%= @time_entry.sec %>
</p>

<p>
  <strong>Date:</strong>
  <%= @time_entry.created_at %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @time_entry.comment %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @time_entry.tag %>
</p>

<p>
  <strong>Divider:</strong>
  <%= @time_entry.divide_by %>
</p>

<%= params.inspect %>


Need to add in clients

<%= link_to 'Edit', edit_time_entry_path(@time_entry) %> |
<%= link_to 'Back', time_entries_path %>
